.accordion {
  font-family: poppins, sans-serif;
  background-color: #fff;
  color: #000;
  cursor: pointer;
  padding: 18px 10px;
  width: 100%;
  border-radius: 5px;
  border: none;
  text-align: left;
  outline: none;
  font-size: 24px;
  transition: 0.4s;
  font-weight: 500;
}
.accordion:active,
.accordion:hover {
  background-color: #ecf6f9;
}
.accordion:after {
  content: "\002B";
  font-size: 24px;
  color: #777;
  font-weight: 700;
  float: right;
  margin-left: 5px;
}
.accordion.active:after {
  content: "\2212";
}
.panel {
  padding: 0 18px;
  background-color: #fff;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}
.panel > p {
  font-family: poppins, sans-serif;
  line-height: 30px;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 18px;
}
